{% extends 'base.html' %}
{% block contenuti %}
    {% if giornalista %}
    <h5 class="my-3">Elenco degli articoli di {{ giornalista.nome }}</h5>
    {% else %}
    <h5 class="my-3">Elenco di tutti gli articoli</h5>
    {% endif %}

    <div class="my-3"></div>
    {% for articolo in articoli %}
    <p>{{ forloop.counter }})<a>{{ articolo.titolo }}</a><br>
        <a>{{ articolo.contenuto }}</a><br>
        <small><a>{{ articolo.autore }}</a></small> 
        </p>
    {% endfor %}
{% endblock contenuti %}