{% extends 'base.html'%}
{%block titolo%}
	{{block.super}} | Verifica di SISTEMI-TPS
{%endblock titolo%}
{%block contenuti%}

<div class="row">
  <div class="col-8">
      <div class="card my-2">
          <div class="card-header">
            <h3>VERIFICA DJANGO</h3>
          </div>
          <div class="card-body">
            <h3>Cognome Nome</h3>
          </div>
          <div class="card-footer">
            <h3>Eseguita il 20/05/2020</h3>
          </div>
      </div>
  </div>
</div>
{%endblock contenuti%}